@charset "UTF-8";
/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/*MiniReset*/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/*Apparition coche à droite du plat*/
@-webkit-keyframes CourseSelection {
  0% {
    width: 0%;
  }
  50% {
    width: 18%;
  }
  100% {
    width: 0%;
  }
}
@keyframes CourseSelection {
  0% {
    width: 0%;
  }
  50% {
    width: 18%;
  }
  100% {
    width: 0%;
  }
}
/*rotation dans la coche*/
@-webkit-keyframes rotation {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Apparition progressive des plats*/
@-webkit-keyframes DishScreening {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  10% {
    opacity: 0;
    transform: translateY(60px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes DishScreening {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  10% {
    opacity: 0;
    transform: translateY(60px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*neutral is Empty Heart *** Like is Full Heart*/
@-webkit-keyframes neutral {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@keyframes neutral {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 0;
  }
}
@-webkit-keyframes like {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 4vw;
}

main a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
  /*inherit from parent -- no color changing when visited*/
}

header {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 10px auto;
  justify-content: space-around;
  align-items: center;
}
header i {
  font-size: 4vw;
}
header .logo__header {
  width: 80%;
  margin: auto;
  font-family: "Shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vw;
  text-align: center;
}

.restaurant_picture {
  width: 100%;
  z-index: -1;
  /*photo du restau en arriere plan*/
  position: relative;
}
.restaurant_picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
}

main {
  width: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #f4f4f4;
  margin-top: -70px;
  padding-top: 40px;
}
main .main__title {
  font-family: "Shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7vw;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*heart like/notliked*/
.icone__like .neutral {
  position: absolute;
  opacity: 1;
  scale: 1;
}
.icone__like .like {
  z-index: -1;
  color: #FF79DA;
  opacity: 0;
  scale: 0;
}

.icone__like:hover .neutral {
  -webkit-animation: neutral 1s forwards;
          animation: neutral 1s forwards;
}
.icone__like:hover .like {
  -webkit-animation: like 3s forwards;
          animation: like 3s forwards;
}

.course {
  width: 95%;
  margin: auto;
}
.course .course__title {
  text-transform: uppercase;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 40px;
}
.course .course__title__underline {
  /*trait vert sous la catégorie du plat*/
  border-bottom: 5px solid #99E2D0;
  width: 10%;
  margin-bottom: 10px;
}

.course__card {
  width: 100%;
  height: 70px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: #BEC0BD 1px 3px 6px;
  cursor: pointer;
  white-space: nowrap;
  /*sequence apparition "..." lorsque coche apparait*/
  text-overflow: ellipsis;
  overflow: hidden;
}

.course__card__entrees {
  -webkit-animation: DishScreening 2s;
          animation: DishScreening 2s;
}

.course__card__plats {
  /*keyframes apparitions plats*/
  -webkit-animation: DishScreening 2s 400ms;
          animation: DishScreening 2s 400ms;
}

.course__card__desserts {
  /*keyframes apparitions plats*/
  -webkit-animation: DishScreening 2s 600ms;
          animation: DishScreening 2s 600ms;
}

.dish__displayed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-left: 10px;
}

.dish__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  margin-left: 10px;
}
.dish__desc .dish__name {
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 5px;
}
.dish__desc .dish__aside {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish__rate {
  display: flex;
  align-items: flex-end;
  font-weight: bolder;
  margin-right: 10px;
}

.dish_anim {
  width: 0%;
  height: 100px;
  background-color: #99E2D0;
  position: relative;
}
.dish_anim .icone_container {
  position: absolute;
  top: 33%;
  left: 25%;
  background-color: white;
  border-radius: 50%;
}
.dish_anim .icone_container i {
  padding: 2vw;
  color: #99E2D0;
}

/*apparition de la coche a droite & rotation de l'icone déclenchées au hover*/
.course__card:hover .dish_anim {
  -webkit-animation: CourseSelection 3s;
          animation: CourseSelection 3s;
}
.course__card:hover i {
  -webkit-animation: rotation 3s;
          animation: rotation 3s;
}

.order_button {
  text-align: center;
}
.order_button .explore__order__btn {
  width: 55%;
  height: 50px;
  margin: 40px auto;
  background: linear-gradient(#FF79DA, #9356DC);
  color: ivory;
  border: none;
  border-radius: 25px;
  font-size: 3.5vw;
  box-shadow: #BEC0BD 1px 3px 6px;
  cursor: pointer;
}
.order_button .explore__order__btn:hover {
  filter: brightness(1.1);
  box-shadow: #3b3b3a 2px 3px 6px;
}

footer {
  color: white;
  background-color: #282828;
  padding: 20px 20px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .logo__footer {
  font-family: "Shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
}
footer .footer__menu li {
  line-height: 25px;
}
footer .footer__menu li i {
  margin-right: 10px;
}

@media all and (min-width: 768px) {
  .course__card {
    height: 140px;
  }

  .dish__desc .dish__name {
    font-size: 35px;
  }
  .dish__desc .dish__aside {
    font-size: 28px;
  }

  .dish__rate {
    font-size: 28px;
  }

  .dish_anim {
    height: 140px;
    position: relative;
  }
  .dish_anim .icone_container {
    top: 15%;
    left: 25%;
  }
  .dish_anim .icone_container i {
    padding: 3vw;
    font-size: 28px;
  }

  .logo__footer {
    text-align: center;
    font-size: 4vw;
    margin-bottom: 20px;
  }

  .footer__menu {
    text-align: center;
    font-size: 2vw;
  }
}/*# sourceMappingURL=menu.css.map */