/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/*MiniReset*/
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@keyframes loading {
    0%{
        opacity: 1;
        transform:rotate(0deg);
    }

    25%{
        opacity: 1;
        transform:rotate(360deg);
    }

    50%{
        opacity: 1;
        transform:rotate(0deg);
    }


    75%{
        opacity: 1;
        transform:rotate(360deg);
    }

    100%{
        transform:rotate(0deg);
        opacity: 0;
    }
}

@keyframes main_page {
        0%{
        opacity: 0;
    }
 
    25%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }


    75%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

/*var*/
:root{
    --violet:#9356DC;
    --rose:#FF79DA;
    --vert:#99E2D0;
}

body{
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;
}
.main_page
{
    
    opacity: 1;
    animation: main_page 5s;
}

.loader{
    /*crea loader*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 35vw;
    /*arrondi*/
    border-top: var(--violet) solid 10px;
    border-right: var(--vert) solid 10px;
    border-bottom: var(--violet) solid 10px;
    border-left: var(--vert) solid 10px;
    border-radius: 50%;
    /*position*/
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: loading 3s;
    animation-fill-mode: forwards;
    /*mise en forme texte*/
    p{
        font-size: 5.5vw;
        text-align: center;
        font-family: 'Shrikhand',Verdana, Geneva, Tahoma, sans-serif;
    }
    /*mise en forme icone*/
    i{
        font-size: 7vw;
    }
}


h2{
    font-weight: bolder;
    font-size:6vw ;
}

main a{
    text-decoration: none;
    color: black;
}


.logo__header{
    width: 80%;
    margin: 10px auto;
    font-family: 'Shrikhand',Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7vw;
    text-align: center;
    }

.position{
    border-top: #C4C4C4 2px solid;
    background-color:#E5E5E5;
    /*background: linear-gradient(rgb(196,196,196),rgb(229,229,229));*/
    line-height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
        p{
        margin-left: 20px;
        font-size: 4vw;
        }
        i{
            font-size: 4vw;
        }
}

.explore{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#F4F4F4;

    .explore__header{
        font-size: 6vw;
        font-weight: bolder;
        width: 60%;
        margin: 20px auto;
    }
    .explore__text{
        font-size: 4vw;
        width: 70%;
        margin: 10px auto 30px;
    }
    .explore__order__btn
    {
        width: 55%;
        height: 10vw;
        margin: 0 auto 70px auto;
        background: linear-gradient( var(--rose), var(--violet));
        color: ivory;
        border: none;
        border-radius: 5vw;
        font-size: 3.5vw;
        box-shadow: #BEC0BD 0vw 1.5vw 1.5vw;
        cursor: pointer;
    }

    .explore__order__btn:hover{
        filter: brightness(1.10);
        box-shadow:#3b3b3a 2px 3px 6px;
    }
}

.fonctionnement
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    margin: 20px auto;
    .fonctionnement__btn{
        width: 100%;
        margin: auto;
        height: 17vw;
        border-radius:3.8vw;
        margin-top: 20px;
        background-color:#F4F4F4;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
        box-shadow: #BEC0BD 1px 3px 6px;
    }
    .fonctionnement__btn:hover
    {
        background-color: #F3E8FF;
        i{
        color: var(--violet);
        }
    }

    .fonctionnement__btn__step{
        width: 7vw;
        height: 7vw;
        border: var(--violet) solid 1px;
        background-color: var(--violet);
        border-radius: 50%;
        position: absolute;
        left: -20px;
        position: relative;
        p{
            color: white;
            position: absolute;
            top: .5vw;
            left: 2vw;
            font-size: 4.5vw;
        }
    }
    .titre_btn
    {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .icone_btn{
            width: 15%;
            text-align: left;
            padding-left: 10px;
            i{
                font-size: 6vw;
            }
        }
        .fonctionnement__btn__legende{
            font-size: 4vw;
            font-weight: bold;
        }
    }
}

.restaurants{
    background-color:#F4F4F4;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    .restaurants__header{
        margin-bottom: 20px;
        width: 95%;
        margin: auto;
    }
    .restaurants__cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .restaurants__vignette{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
    box-shadow: #BEC0BD 1px 3px 6px;
    border-radius: 15px;
    }
    .restaurants__pic{
        position: relative;
        background-color:white;
        border-radius: 15px 15px 0 0;
        .restaurants__image{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
        position: relative;
        }
        .banner__new{
            width: 16vw;
            height: 6vw;
            padding-top: 1vw;
        }
        p{
            position: absolute;
            background-color: var(--vert);
            color: #0E7753;
            top: 10px;
            right: 10px;
            text-align: center;
            font-weight: bold;
            font-size: 3vw;
        }
    }
    .restaurants__details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color:white;
        border-radius: 0 0 15px 15px;
        .restaurants__name{
        font-weight: bolder;
        font-size: 3vw;
        }
    }
}

@keyframes like {
    0%{
        opacity:0;
        transform: scaleY(0);
    }
    100%{
        opacity: 1;
        transform: scaleY(1);
    }
    
}

.icone__like{
    .like{
        display: none;
        color: var(--rose);
    }
}

.icone__like:hover{
    .neutral{
        display: none;
    }
    .like{
        display: unset;
        animation: like 5s;
    }
}



footer{
    color: white;
    background-color:#282828;
    padding: 20px 20px;
    a{
        color: white;
        text-decoration: none;
    }
    .logo__footer{
    font-family: 'Shrikhand',Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    }
    .footer__menu{
        li{
            line-height: 25px;
            i{
                margin-right: 10px;
            }
        }

    }
}
/*TABLETTES DESKTOP*/
@media all and (min-width:768px) {

    .fonctionnement__header{
        margin: auto;
    }

     .fonctionnement .fonctionnement__btn__step{
        p{
            top: .6vw;
            font-size: 5vw;
        }
    }
    .restaurants{
    .restaurants__header{
        width: 30%;
    }
    .restaurants__cards{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .restaurants__vignette{
    width: 40%;
    }
    .restaurants__pic{
        .restaurants__image{
        height: 300px;
        }
        .banner__new{
            width: 10vw;
            height: 3vw;
            padding-top: 0.5vw;
        }
        p{
            font-size: 2vw;
        }
    }
    .restaurants__details{
        .restaurants__name{
        font-weight: bolder;
        font-size: 4vw;
        }
        .icone__like{
            font-size: 3vw;
            cursor: pointer;
        }
    }
}
    .logo__footer{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 20px;
    }

    .footer__menu{
        text-align: center;
        font-size: 2vw;
    }
}

